.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent; /* כדי שהציפור תישאר */
  color: var(--text-color);
}

.card {
  width: 380px;
  padding: 30px;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  text-align: center;

  background: var(--card-bg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.welcome {
  margin-bottom: 25px;
  font-size: 14px;
  color: var(--text-color);
}

.btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-dark {
  background-color: var(--accent-color);
  color: var(--btn-text);
}

.btn-mid {
  background-color: var(--tweeter-blue);
  color: var(--btn-text);
}

.btn-light {
  background-color: var(--accent-color);
  color: var(--btn-text);
  opacity: 0.85;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
/* ===== NAVBAR ===== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  background-color: #111;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  box-sizing: border-box;

  z-index: 1000;
}

.nav-left {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.username {
  font-size: 14px;
  opacity: 0.8;
}

/* ===== LOGOUT BUTTON ===== */

.logout-btn {
  background-color: #e74c3c;
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;

  transition: all 0.25s ease;
}

.logout-btn:hover {
  background-color: #c0392b;
  transform: translateY(-1px);
}
